{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{% block body %}
    <h1>Créer une sortie</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(form) }}

    <p><a href="{{ path('event_index') }}">← Retour à la liste</a></p>
{% endblock %}
