{% extends 'base.html.twig' %}

{% block title %}Carte Leaflet{% endblock %}

{% block body %}
    <h1>Ma carte</h1>
    <div id="map"></div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
